:root {
    --backgrond: #F9F0DD;
    --alt: #454545;
    --altcolourpair: #E9CB86;
    --maincolourpair: #8a6819;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--backgrond);
    color: var(--maincolourpair);
    height: 999vh;
}

/* navigation bar */
.navbar {
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 5%;
    background-color: rgba(69, 69, 69, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar .logo {
    font-size: 1.3rem;
    font-weight: 500;
    color: #cb5252;
    margin-bottom: 0.4rem;
    margin-right: auto;

    img {
        height: 40px;
        cursor: pointer;
    }
}

.navbar .navbar-nav {
    margin-right: auto;
    margin-left: 3rem;
}

.navbar .navbar-nav a {
    color: var(--altcolourpair);
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.navbar .navbar-nav a:hover {
    color: var(--backgrond);
}

/* container */
.container {
    padding: 4rem 6rem;
}

section {
    padding: 2rem 2rem;
}

/* landing page */
.landing-page, .about-page, .about-section-background {
    margin-top: 3rem;
    margin-left: 8rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    padding-left: 4.5rem;
    padding-right: 4rem;
}

.landing-page h3,
.about-page h3,
.about-section-background h3,
.currently-learning h3,
.current-tools h3,
.skills h3 {
    font-size: 30px;
}

.landing-page span {
    color: #c78e09;
}

.landing-title {
    margin-top: 1.6em;
}

.landing-title h1 {
    font-size: 58px;
}

p {
    font-size: 24px;
    max-width: 78%;
    line-height: 1.5;
}

.profile-image {
    margin-left: 1rem;
    margin-top: -4rem;

    img {
        border-radius: 50%;
        height: auto;
        width: 20%;
        margin-left: 46rem;
        margin-top: -15rem;
    }
}

.landing-contact-button,
.cv-button,
.about-button {
    background-color: var(--alt);
    border: none;
    color: var(--backgrond);
    padding: 14px 20px;
    border-radius: 20px;
    margin-top: 18px;
    cursor: pointer;
    margin-left: 11rem;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

.cv-button {
    margin-top: 4rem;
}

.landing-contact-button {
    margin-left: 14px;
}

.about-button {
    margin-left: 2px;
}

.landing-contact-button:hover,
.cv-button:hover,
.about-button:hover {
    background-color: var(--maincolourpair);
}

/* about page */
/* index.html */
.about-page {
    margin-top: 1.5rem;
}

.brief-about p {
    font-size: 24px;
    max-width: 95%;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

/* about.html */
.about-section-background {
    margin-left: 2rem;
}

.about-picture {
    margin-left: 11rem;
    margin-top: -22rem;

    img {
        border-radius: 35%;
        height: auto;
        width: 24%;
        margin-left: 50rem;
        margin-top: -7rem;
    }
}

#last-row-p {
    max-width: 100%;
}

.current-stuff {
    display: inline-block;
    /* margin-top: -1rem; */
}

.currently-learning {
    margin-left: 6.5rem;
    margin-top: 14.5rem;
    margin-right: 2rem;
}

.currently-learning-list,
.current-tools-list {
    margin-top: 1rem;
    margin-left: 3rem;
}

.currently-learning-list li,
.current-tools-list li {
    font-size: 22px;
}

.current-tools {
    margin-left: 55rem;
    margin-top: -13.8rem;
}

.skills {
    margin-left: 38.5rem;
    margin-top: 11rem;
}

.skills-list {
    margin-left: -20rem;
    margin-top: 3rem;
}

#skill-icon-2 {
    margin-left: 20.5rem;
}

.skills-desc {
    margin-left: -24.5rem;
}

#skills-desc-2 {
    margin-left: 18rem;
    margin-top: -2.3rem;
}

#skills-desc-3 {
    margin-top: -2.3rem;
    margin-left: 46rem;
}

#skills-header {
    margin-left: 1.8rem;
}


/* media queries */
@media all and (max-width: 955px) {
    .landing-page {
        padding-top: 11rem;
        padding-left: 10em;
    }

    .landing-page p {
        padding-top: 9px;
        max-width: 65%;
    }

    .landing-page .profile-image {
        img {
            border-radius: 50%;
            height: auto;
            width: 20%;
            margin-left: 35rem;
            margin-top: -9rem;
        }
    }
}